.general-gradient {
  background: #00c3ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #347474, #35495e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #347474, #35495e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-x: hidden;
}

.card-unstarted {
  top: '50px';
  height: '140px';
  width: '190px';
  background: 'white';
}

.card-started {
  height: '140px';
  width: '190px';
  background: 'white';
  margin-left: 24%;
}

.card-review {
  height: '140px';
  width: '190px';
  background: 'white';
  margin-left: 48%;
}

.card-finished {
  height: '140px';
  width: '190px';
  background: 'white';
  margin-left: 72%;
}

.delete-task-fab {
  top: 185px;
  left: 10px;
  position: relative;
}

.card-row {
  position: relative;
  width: 100%;
  left: 75px;
  top: 12px;
}

.project-title {
  background-color: #42b883;
  height: 50px;
  margin-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 10px;
}

.header {
	display: inline;
	position: relative;
	font: 100px Verdana, Sans-Serif;
	letter-spacing: -5px;
  color: #00c3ff; 
  font-weight: 800;
}

.add-task-text {
	display: inline;
	position: relative;
	font: 20px Verdana, Sans-Serif;
	letter-spacing: -2px;
  color: #00c3ff; 
  font-weight: 800;
  top: 2px;
}

h1:after {
	content: "BaraBoard";
  position: absolute; 
  left: 4px; 
  top: 4px;
	color:#42b883;   
}
